body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.dropdown-menu .item {
    padding: 5px;
}

.dropdown-menu .item-selected {
    background-color: #eee;
}
